[Unit]
Description=uWSGI instance to serve echo
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory={{ application_path }}
Environment="PATH={{ venv_path }}/bin"
ExecStart={{ venv_path }}/bin/uwsgi --ini {{ application_path }}/echo.ini

[Install]
WantedBy=multi-user.target